<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTodoAnnotatedTests="true"
	processIsolation="false"
	reverseDefectList="true"
>

	<testsuites>
		<testsuite name="all">
			<file>./tests/Plugin.php</file>
			<file>./tests/Image_Tag.php</file>
		</testsuite>
	</testsuites>

	<groups>
		<exclude>
			<group>external-http</group>
		</exclude>
	</groups>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<file>Plugin.php</file>
			<file>includes/types/Image_Tag.php</file>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-html" target="./report" />
	</logging>

</phpunit>
