<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	forceCoversAnnotation="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTodoAnnotatedTests="true"
	processIsolation="false"
	reverseDefectList="true"
>

	<testsuites>

		<testsuite name="plugin">
			<file>./tests/Image_Tag_Plugin_Test.php</file>
		</testsuite>

		<testsuite name="properties">
			<file>./tests/properties/properties.php</file>
			<file>./tests/properties/attributes.php</file>
			<file>./tests/properties/settings.php</file>
			<file>./tests/properties/joeschmoe.php</file>
			<file>./tests/properties/picsum.php</file>
			<file>./tests/properties/placeholder.php</file>
		</testsuite>

		<testsuite name="types">
			<file>./tests/types/base.php</file>
			<file>./tests/types/joeschmoe.php</file>
			<file>./tests/types/picsum.php</file>
			<file>./tests/types/placeholder.php</file>
		</testsuite>

	</testsuites>

	<groups>
		<exclude>
			<group>external-http</group>
		</exclude>
	</groups>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">

			<!-- properties -->
			<file>image_tags/properties/abstract.php</file>
			<file>image_tags/properties/attributes.php</file>
			<file>image_tags/properties/settings.php</file>
			<file>image_tags/properties/joeschmoe.php</file>
			<file>image_tags/properties/picsum.php</file>
			<file>image_tags/properties/placeholder.php</file>

			<!-- types -->
			<file>image_tags/types/abstract.php</file>
			<file>image_tags/types/base.php</file>
			<file>image_tags/types/joeschmoe.php</file>
			<file>image_tags/types/picsum.php</file>
			<file>image_tags/types/placeholder.php</file>

		</whitelist>
	</filter>

	<logging>
		<log type="coverage-html" target="./report" />
	</logging>

</phpunit>
